@import '~sass/variables';

.logo {
  display: flex;
  justify-content: center;
  padding: 125px 0 70px 0;
  font-weight: 600;
  font-size: 25px;
}

a {
  color: $primary-color;
  text-decoration: none;
}

.error-section {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

h1 {
  margin: 0;
  padding: 0 2px;
}

.small {
  margin: 0;
  padding: 0 2px;
  font-size: 13px;
}

.description {
  text-align: center;
  margin: 30px 0;
}
