@import '~sass/variables';
@import '~sass/reusable/logo-banner';

.logo {
  @include logo(106px);
}

.content {
  margin: 0 auto;
  text-align: center;
}

.info {
  padding: 0 20px;
}

button {
  width: 300px;
  margin: 30px 0;
}

@media (max-width: 450px) {
  button {
    width: 250px;
  }
}
