// $primary-color: #3f51b5;
$primary-color: #1b5e20;
$white-subdued: rgba(255, 255, 255, .87);
$background-color: #edebec;
$error-color: #f44336;
$success-color: #4caf50;
$warning-color: #ff8800;
$info-color: #2196f3;
