@import './variables';
@import './mixins';
@import './material';

html {
  font-family: 'Roboto', sans-serif;
  background: $background-color;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  > *:not(router-outlet) {
    flex: 1;
    display: block;
  }
}

.center-error-indicator {
  display: flex;
  justify-content: center;
}

.dialog-actions {
  justify-content: flex-end;
}

a.router-link {
  color: $primary-color;
  text-decoration: none;
}
