@import './variables';
@import './mixins';

html {
  font-family: 'Roboto', sans-serif;
  background: $background-color;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.app {
  height: 100%;
  width: 100%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
}

main {
  padding-top: 64px;
  flex: 1;
}

.error-indicator {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  color: $error-color;
  font-size: 15px;
  width: 280px;
  padding: 20px 10px;
  font-weight: 500;
  margin: 20px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

@media (max-width: 600px) {
  main {
    padding-top: 56px;
  }
}

.mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: $background-color;
}

.mat-horizontal-stepper-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 300px;
}

.mat-vertical-content {
  display: flex;
  flex-direction: column;
  width: 300px;
}

@media (max-width: 380px) {
  .mat-vertical-content {
    width: 200px;
  }
}
