@import './variables';
@import './mixins';
@import './material';

html {
  font-family: 'Roboto', sans-serif;
  // background: $background-color;
  width: 100%;
}

body {
  margin: 0;
  width: 100%;
  background: $background-color;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 35px;
}

.center-indicator {
  display: flex;
  justify-content: center;
}

.dialog-actions {
  justify-content: flex-end;
}

a.router-link {
  color: $primary-color;
  text-decoration: none;
}
