@import '~sass/variables';

footer {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 13px;
  text-align: center;
  background-color: white;
  flex: none;
  border-top: 2px solid rgba(63, 81, 181, .3);
}

footer p {
  margin: 5px;
  color: $primary-color;
}

footer {
  a:link,
  a:visited,
  a:hover {
    color: $primary-color;
    text-decoration: underline;
  }
}
