@import '~sass/variables';

footer {
  width: 100%;
  padding: 20px 0px 20px 0;
  font-size: 13px;
  text-align: right;
  background-color: $background-color-secondary;
  flex: none;
  // border-top: 1px solid rgba(27, 94, 32, .3);
}

footer p {
  margin: 5px 20px 5px 0;
  // color: $primary-color;
}

footer {
  a:link,
  a:visited,
  a:hover {
    color: unset;
    text-decoration: underline;
  }
}
