ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 20px 0;
  font-size: 20px;
  cursor: pointer;
  transition: background ease-in-out .15s;
  display: flex;
  justify-content: center;
}

li:hover,
li:focus {
  background: #e0e0e0;
}
