@import '~sass/variables';

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 998;
  height: 64px;
}

header.signed-in {
  background: white;
  border-bottom: 1px solid rgba(63, 81, 181, .3);
}

header.signed-out {
  background: $primary-color;
  color: $white-subdued;
}

.header-content {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px;
  position: relative;
}

.header-side {
  display: flex;
  align-items: center;
}

.header-name {
  font-size: 20px;
  text-align: right;
  margin: 0;
  a {
    color: $primary-color;
    text-decoration: none;
  }
}

.hamburger-button {
  position: absolute;
  left: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.profile-button {
  position: absolute;
  right: 20px;
}

@media(max-width: 900px) and (min-width: 450px) {
  .header-content {
    padding: 0 20px;
  }
  .hamburger-button {
    position: unset;
  }
  .header-name {
    margin: 0 5px;
  }
}

@media(max-width: 450px) {
  .header-content {
    padding: 0 5px;
  }
  .hamburger-button {
    position: unset;
  }
  .header-name {
    margin: 0 5px;
  }
}
