@import '~sass/variables';

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 64px;
}

header.signed-in {
  background: white;
  border-bottom: 2px solid rgba(63, 81, 181, .3);
}

header.signed-out {
  background: $primary-color;
  color: $white-subdued;
}

.header-content {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header-side {
  display: flex;
  align-items: center;
}

.header-name {
  font-size: 20px;
  text-align: right;
  margin: 0 5px;
  a {
    color: $primary-color;
    text-decoration: none;
  }
}

.spacer {
  flex: 1 1 auto;
}

@media(max-width: 450px) {
  .header-content {
    padding: 0 5px;
  }
}
