@import '~sass/variables';
@import '~sass/reusable/logo-banner';

.logo {
  @include logo(70px);
}

.error-indicator {
  margin: 0 auto;
}

.form-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 10px;
}

.mat-form-field {
  margin: 15px 0;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0 0 0;
}

.content {
  margin: 50px auto;
  text-align: center;
}

.info {
  padding: 0 20px;
}

@media (min-width: 700px) {
  .form-container-vert {
    display: none;
  }
}

@media (max-width: 700px) {
  .form-container {
    display: none;
  }

  .form-container-vert {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
  }
}

@media (max-width: 450px) {
  .logo {
    padding: 40px 0 40px 0;
  }
}
