@import '~sass/variables';

.detail-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  h2 {
    margin: 0;
    padding: 20px 40px;
    color: $primary-color;
    font-weight: normal;
    margin-left: auto;
  }
}

.back-button-container {
  padding: 20px;
  display: flex;
  align-items: center;
}

.back-button-text {
  margin-left: 10px;
  font-size: 19px;
}

.detail-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.form-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 450px;
}

.form-container > *:not(h3) {
  width: 80%;
  max-width: 450px;
  margin: 10px;
}

.form-container > h3 {
  width: 80%;
  max-width: 450px;
}

.small-form-container > * {
  width: 50%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

.button-container > :last-child {
  margin-left: 10px;
}

.student-lists {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: 20px;
}

.mat-table {
  background: #fafafa;
}

.due-date {
  color: $success-color;
}

.due-date.error {
  color: $error-color;
}

.current-header {
  margin: 1em 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  h3 {
    margin: 0 10px 0 0;
  }

  span {
    margin-right: 10px;
    line-height: normal;
  }

}

.key-container {
  display: flex;
  align-items: center;
}

.key-box {
  width: 1em;
  height: 1em;
  margin: 0 10px 0 0;

  &.success {
    background: $success-color;
  }
  &.error {
    background: $error-color;
  }
}

.clickable-row {
  cursor: pointer;
  transition: background .4s cubic-bezier(.25,.8,.25,1);
}

.selected {
  background: #E0E0E0;
}

.students-info {
  font-size: 14px;
}

@media (max-width: 450px) {
  .current-header {
    flex-direction: column;
    align-items: normal;
  }
  .key-container {
    margin: 5px 0;
  }
}
