@import '~sass/variables';
@import '~sass/reusable/logo-banner';

.logo {
  @include logo(106px);
}

a {
  color: $primary-color;
  text-decoration: none;
}

.error-indicator {
  display: flex;
  justify-content: center;
}

.form-container {
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container > *:not(button) {
  width: 300px;
  margin: 10px;
} 

button {
  width: 300px;
  margin: 30px 10px
}

.after-button {
  width: 300px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: wrap;
}

.after-button > * {
  padding: 15px;
}

@media (max-width: 450px) {
  .logo {
    padding: 40px 0 40px 0;
  }
}
