@import '~sass/variables';
@import '~sass/reusable/logo-banner';

.logo {
  @include logo(125px);
}

.error-section {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

h1 {
  margin: 0;
  padding: 0 2px;
}

.small {
  margin: 0;
  padding: 0 2px;
  font-size: 13px;
}

.description {
  text-align: center;
  margin: 30px 0 0 0;
}

.contact {
  text-align: center;
  margin: 10px 0 0 0;
}

a {
  color: $primary-color;
  text-decoration: none;
}
