@import '~sass/variables';

.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dashboard-container > * {
  width: 100%;
  max-width: 500px;
  margin: 20px;
}

.dashboard-table {
  padding: 0 0 20px 0;
}

.mat-table {
  background: #fafafa;
}

.from-date {
  font-size: 11px;
}

.recent-activity {
}

.recent-activity > div {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.activity-text {
  display: flex;
  align-items: center;
}

span.activity-title {
  font-size: 18px;
}

span.activity-action {
  font-size: 12px;
}

.activity-date {
  margin-left: auto;
  font-size: 13px;
  opacity: .7;
}

.activity-icon {
  margin-right: 5px;
}

.out {
  color: $error-color;
}

.in {
  color: $success-color;
}

@media(max-width: 450px) {
  .center-cell {
    text-align: center;
  }
}
