@import '~sass/variables';

.error-container {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: $error-color;
  line-height: normal;
  width: 300px;
}

.error-icon {
  margin: 0 10px 0 0;
}
