.page-numbers {
  list-style: none;
  text-align: center;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
}

.page-link {
  min-width: 36px;
  padding: 0;
  font-size: 13px;
}

.page-link.current {
  cursor: default;
}
