@import '~sass/variables';
@import '~sass/reusable/logo-banner';

.logo {
  @include logo(70px);
}

.info {
  font-size: 14px;
  margin: 20px auto;
  width: 300px;
}

.info.after {
  width: 80%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.form-container {
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container > *:not(button) {
  width: 300px;
  margin: 10px;
}

button {
  width: 300px;
  margin: 20px 10px
}
