@import '~sass/variables';
@import '~sass/mixins';

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background: url('/assets/images/books.jpeg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.main-header {
  width: 100%;
  height: 300px;
  background-color: $primary-color;
  color: $white-subdued;
  padding: 30px 0 0 0;
  display: flex;
  flex-direction: column;
}

.main-banner {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -1;
}

.main-buttons {
  width: 100%;
  position: absolute;
  top: 20%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.main-button {
  width: 250px;
  height: 40px;
  color: white;
  @include rgba_primary(0.9);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 3px 7.8px 0.2px rgba(0, 0, 0, 0.3);
  font-weight: 700;
  margin: 10px 0;
  font-size: 15px;
}

.main-content > * {
  margin: 50px 0 0 0;
}

.section-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: white;
  padding: 50px 0;
}

.section-image {
  width: 300px;
  height: 300px;
}

.section-breaker {
  width: 100%;
  height: 300px;
}

h1 {
  margin: 0;
  font-size: 3em;
  padding: 0 10% 0 10%;
  font-weight: 500;
}

p {
  padding: 0 10% 0 10%;
}
