@import '~sass/variables';

.main-header {
  width: 100%;
  height: 300px;
  background-color: $primary-color;
  color: $white-subdued;
  padding: 30px 0 0 0;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  font-size: 3em;
  padding: 0 10% 0 10%;
  font-weight: 500;
}

p {
  padding: 0 10% 0 10%;
}
