form {
  min-width: 150px;
  max-width: 300px;
  width: 100%;
}

.form-full-width {
  width: 100%;
}

.after-submit {
  display: flex;
  align-items: center;
}

.check-icon {
  color: #4CAF50;
  margin: 0 10px 0 0;
}
