.sidenav-container {
  min-height: 100vh;
  padding-top: 64px;
}

.sidenav-window {
  width: 300px;
  padding-top: 64px;
}

@media (max-width: 600px) {
  .sidenav-container, .sidenav-window {
    padding-top: 56px;
  }
}

@media (max-width: 450px) {
  .sidenav-window {
    width: 200px;
  }
}
