@import '~sass/variables';
@import '~sass/mixins';

.sidenav-window {
  width: 200px;
  padding-top: 35px;
  background: $background-color-secondary;
}

.sidenav-title {
  margin: 20px 16px 5px 16px;
}

.drawer-container {
  padding-top: 50px;
}

.sidenav-sections {
  display: flex;
  height: 100%;
  width: 100%;
  > section:first-child {
    width: 75px;
    @include rgba_primary(0.8);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0 40px 0;
  }
}

.profile-button {
  color: white;
}

@media (max-width: 450px) {
  .sidenav-window {
    width: 200px;
  }
}
