@import '~sass/variables';
@import '~sass/reusable/logo-banner';

.logo {
  @include logo(70px);
}

.error-indicator {
  margin: 20px auto;
}

.info {
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 320px;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.form-container {
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container > *:not(button) {
  width: 300px;
  margin: 10px;
}

button {
  width: 300px;
  margin: 20px 10px
}

@media (max-width: 550px) {
  .info {
    width: 300px;
    margin: 20px auto;
  }

  .after {
    text-align: center;
  }
}

@media (max-width: 450px) {
  .logo {
    padding: 35px 0 70px 0;
  }

  .after {
    button {
      width: 250px;
    }
  }
}
