@import '~sass/variables';

.header-link {
  display: flex;
  justify-content: flex-end;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 70px 0 70px 0;
  font-weight: 600;
  font-size: 25px;
}

.error-indicator {
  margin: 20px auto;
}

a {
  color: $primary-color;
  text-decoration: none;
}

.info {
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin: 20px 30px;
}

.form-container {
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container > *:not(button) {
  width: 100%;
  max-width: 300px;
  margin: 10px;
}

button {
  width: 100%;
  max-width: 300px;
  margin: 20px 10px
}

.info-link {
  margin: 0 3px;
}

@media (max-width: 550px) {
  .info {
    width: 300px;
    margin: 20px auto;
  }

  .after {
    text-align: center;
  }
}
